@charset "UTF-8";

@media screen and (min-width: 24rem){
    header {
        padding: 3rem 0 ;
        font-size: 1.5rem;
    }

    #keys {
        margin: 2rem 0;
    }

    #keys button {
        font-size: 1.6rem; 
        margin-top: .6rem;
    }

    #keys button.mod {
        font-size: 1.2rem;
    }

    button{
        border-radius: .50rem;
    }

    #input, section {
        height: 5.5rem;
    }

    #copyToClipboard, #themeSwitcher{
        font-size: 1rem;
    }
}

@media screen and (min-width: 25rem){
    header{
        padding: 4rem 0 ;
        font-size: 1.8rem;
    }

    #keys button{
        margin-top: 1.2rem;
    }

    button{
        border-radius: .50rem;
    }
}
@media screen and (min-width: 41rem){
    header{
        font-size: 2rem;
    }
    
    #keys button{
        font-size: 1.8rem;
        margin-top: .8rem;
    }

    #input, section {
        height: 6rem;
    }

    #copyToClipboard, #themeSwitcher{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 55rem){
    header{
        padding: 2rem 0;
        font-size: 1.3rem;
    }

    main {
        max-width: 38rem;
        padding: 0 1.5rem;
    }

    #input, section {
        font-size: 1rem;
        margin: 0 auto;
        height: 4rem;
    }

    #keys {
        margin: 2rem 0;
    }

    #keys button{
        font-size: 1.5rem;
        padding: .3rem;
        margin-top: 0.2rem;;
        border-radius: .25rem;
    }

    #copyToClipboard {
        height: 4.25rem;
        width: 6rem;
    }

    #copyToClipboard, #themeSwitcher{
        font-size: 1rem;
    }
}
